@charset "UTF-8";
/* CSS Document */

*{
font-family: Helvetica, Arial, sans-serif;	
}

body {
	background-color: #CCC;
	display: block;
}

h1 {
	text-align: center;	
}

#navigation li {
	list-style-type: none;
	display: inline;
}

li+li {
	border-left: 1px solid #000000;
	padding-left: 5px;
	right-padding: 5px;
}

div#navigation {
        text-align: center;
}

#photo {
	border-radius: 15px;
	max-width: 90%;
	height: auto;
}

div#wrapper {
   -moz-column-count: 2;
   -moz-column-gap: 40px;
   -webkit-column-count: 2;
   -webkit-column-gap: 40px;
    column-count: 2;
	column-gap: 40px;
}

a {
  color:inherit;
 }