@charset "UTF-8";
/* CSS Document */
/*****
	h2 = headings in specs, h3=drum subheadings in specs
*****/

/*html is for footer*/
html {
	position: relative;
	min-height: 100%;
}

body {
	background-color: #CCC;
	font-size: 1.6em;
	margin-bottom: 45px; /*the footer's height*/
}

h1, .about, .contact, ol, ul {
	text-align: center;
	background-color: #CCC;
	display: block;
	padding: 0;
}

td, th {
	text-align: center;
	display: table-cell;
}

h1 {
	margin-top: 10px;
	margin-bottom: 15px;
	font-size: 1.4em;
}

h2 {
	font-size: 1.2em;
}

h3 {
	font-size: 1em;
}

 .about {
	margin-top: 5px;
}

.btn-default:hover {
	background-color: #adadad;
}

.navbar-btn {
	margin-top: 8px;
	margin-bottom: 8px;
}

.btn-default {
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
	background-image: -webkit-linear-gradient(top, #ffffff 0%, #e0e0e0 100%);
}

a, a:visited {
	color: #000;
}

footer a {
	text-decoration: underline;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 45px;
	text-align: center;
	font-size: 85%;
}

@media (min-height: 660px) {
	.copyright {
	position: absolute;
	}
}

/*
@media (min-width: 1075px), (min-height: 600px) {
	.copy {
	position: absolute;
	}
}
*/

/*
containers
*/

.container {
	max-width: 920px;
}


.container.rates {
	max-width: 500px;
}

.container.artists {
	max-width: 800px;
}

.container.email {
	max-width: 200px;
}

.panorama {
	padding-bottom: 10px;
}

/*
contact
*/

#gallery li, ol {
	display: inline;
	list-style-type: none;
	overflow: visible;
}

#photo {
	max-height: 200px;
	width: auto;
	margin-right: 2px;
	margin-bottom: 6px;
}

/*
.photos {
	text-align: center;
}
*/

#brian {
	max-height: 200px;
	max-width: 200px;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	margin-left: -15px;
}

@media (max-width: 768px) {
	#photo {
		max-width: 100%;
		max-height: 100%;
	}
	#gallery {
		padding: 0;
	}
}

/*
lightbox
*/
#overlay {
	background: rgba(0,0,0,0.86);
	margin-top: 0;
	padding-top: 5%;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	text-align: center;
	position: fixed;
	display: none;
}

#overlay img {
	margin-left: 5%;
	margin-right: 5%;
	height: auto;
	max-height: 90%;
	width: auto;
	max-width: 90%;
	border-radius: 20px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
}

#overlay p {
	color: white;
	font-size: 1.3em;
}
